%h1 sinatra issues
.kanban
  #backlog.column
    %h3 Backlog
    - @issues.select{|i| i.state == 'open' && !i.pull_request}.each do |issue|
      .issue= link_to issue.title, issue.url
  #in-progress.column
    %h3 In Progress
    - @issues.select{|i| i.state == 'open' && i.pull_request}.each do |issue|
      .issue= link_to issue.title, issue.url
  #done.column
    %h3 Done
    - @issues.select{|i| i.state == 'closed'}.each do |issue|
      .issue= link_to issue.title, issue.url
